<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="GitVersionTask" version="4.0.0-beta0012" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net45" />
  <package id="NuGet.Build.Packaging" version="0.2.0" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
</packages>