<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyReferencesTT" version="1.0.12" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="NuGet.Build.Packaging" version="0.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net46" />
</packages>